tensorflow-gpu==2.10.0
tensorflow-addons
tensorflow-datasets
matplotlib
jupyter
sklearn
tensorflow_probability==0.13.0
beeprint
cmake
opencv-python
catkin_pkg
ipykernel
virtualenv
plotly
pyntcloud
easydict
ipympl
papermill
jupyterlab-tour
nodejs
jupyterlab
