tensorflow-datasets==4.9.2
matplotlib
jupyter
scikit-learn
tensorflow_probability==0.18.0
beeprint
cmake
opencv-python
catkin_pkg
ipykernel
virtualenv
plotly
pyntcloud
easydict
ipympl
papermill
jupyterlab-tour
nodejs
jupyterlab
rosbags
squaternion
netifaces